<div id="<%= dom_id dns_record %>">
  <p>
    <strong>Domain:</strong>
    <%= dns_record.domain_id %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= dns_record.host %>
  </p>

  <p>
    <strong>Record type:</strong>
    <%= dns_record.record_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= dns_record.value %>
  </p>

  <p>
    <strong>Ttl:</strong>
    <%= dns_record.ttl %>
  </p>

</div>
