<p style="color: green"><%= notice %></p>

<% content_for :title, "Domains" %>

<h1>Domains</h1>

<div id="domains">
  <% @domains.each do |domain| %>
    <%= render domain %>
    <p>
      <%= link_to "Show this domain", domain %> |
      <%= link_to "DNS Records", domain_dns_records_path(domain) %>
    </p>
  <% end %>
</div>

<%= link_to "Register domain", new_domain_path %>
